<div class="container">
  <div class="row">
      <div class="col-3">
          <form class="form-inline">
            <input #cityName placeholder="Search..."  type="text" class="form-control form-control-sm"/>
            <button class="btn btn-outline-primary btn-sm" (click)="isDidabled" (click)="searchListCity(cityName.value);">
              <fa  name="fas fa-search" size="lg"></fa>
            </button>
          </form>
      </div>
      <div class="col-9">
          <div *ngIf="city">
            <div class="card" style="padding: 1rem;">
              <div class="card text-center" >
                <div class="card-body">
                  <h6 class="card-text">{{city.title}}</h6>
                    <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-outline-primary" (click)="followCity(city);" >
                      <fa  name="far fa-check-circle"  ></fa>
                    </button>
                    <button class="btn btn-outline-danger" (click)="removeCandidate();">
                      <fa  name="far fa-times-circle" ></fa>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <div class="row">
    <app-show-component [followingCity]="followingCity" ></app-show-component>
  </div>
</div>
