  <div class="card-deck">
    <div   *ngFor="let followCity of followingCity | async">
      <div class="card column-break-inside:void">
        <div class="col-md-3">
          <div class="card w-20" style="width: 15rem;">
            <div class="text-center">
              <img class="card-img-top" style="width:17%;" src="{{followCity.description}}" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title" >{{followCity.title}}</h5>
              <div class="card-text">
                <ul class="list-group list-group-flush mt-4">
                  <li class="list-group-item" style="font-size:small"><strong>Condition</strong>: {{followCity.text}}</li>
                  <li class="list-group-item" style="font-size:small"><strong>Temp</strong>: {{followCity.temp}} {{followCity.temperature}}</li>
                </ul>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-danger" (click)="removeCity(followCity)" >
                  <fa  name="far fa-times-circle" size="lg" ></fa>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
